name: Trigger GitLab Pipeline

on:
  push:
    branches: [master]

jobs:
  trigger:
    name: Trigger GitLab CI
    runs-on: ubuntu-latest
    steps:
      - name: Trigger GitLab pipeline
        uses: ghcr.io/appleboy/gitlab-ci-action@v1.3.0
        with:
          host: "https://git.gomersbach.nl"
          token: ${{ secrets.GITLABTOKEN }}
          project_id: 62
          ref: master
